.wrappper{
    width: 200px;
    
  
}
img{
    aspect-ratio: 1;
    object-fit: contain;
    width: 100%;
    border-radius: 15px;
    background-color: grey;

}
img:hover{
    box-shadow: 0 4px 8px rgba(10%, 0, 0, 0.8); 
}

.title{
    font-weight: 700;;
    font-size: 1.5rem;

}

.price-label{
    font-weight: 300;
    font-size: 1rem;
    margin-top: 5px;
}
.price{
    font-weight: 700;
    font-size: 1rem;
    margin-top: 5px;
}
.box{
    box-shadow: 0 4px 8px rgba(10%, 0, 0, 0.8);
    padding: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
    width:400px;

}
.rating{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 15px;
}